<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- GWT Servlet for rpc calls -->
	<servlet>
		<servlet-name>exampleServlet</servlet-name>
		<servlet-class>afr.tafeltrainer3.server.ServerImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>exampleServlet</servlet-name>
		<url-pattern>/tafeltrainer3/simpleservice</url-pattern>
	</servlet-mapping>

	<!-- Servlet for backend  with android -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>afr.spelleritustest.service.WoordpakkettenServiceAPI</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Tafeltrainer3.html</welcome-file>
	</welcome-file-list>

</web-app>